# Code 14: Data Analysis
## Video Game Sales
### Ben Hurst 9/4/18

In [3]:
# Global Imports
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
df = pd.read_csv('./vgsales.csv')

In [6]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# 1. Which company is the most common video game publisher?
## ANSWER: Electronic Arts

In [22]:
df.Publisher.value_counts().head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

# 2. Whatâ€™s the most common platform?
## ANSWER: DS

In [21]:
df.Platform.value_counts().head(1)

DS    2163
Name: Platform, dtype: int64

# 3. What about the most common genre?
## ANSWER: Action

In [23]:
df.Genre.value_counts().head(1)

Action    3316
Name: Genre, dtype: int64

# 4. What are the top 20 highest grossing games?
## ANSWER: See output below.

In [28]:
df.sort_values(by=['Global_Sales'], ascending=False)[['Name','Global_Sales']].head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# 5. For North American video game sales, whatâ€™s the median?
## - Provide a secondary output showing â€˜aboutâ€™ ten games surrounding the median sales output
## ANSWER: 80,000 sales

In [18]:
df.NA_Sales.median()

0.08

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
## ANSWER: I thought this question was a bit unclear. The difference between the max and the mean of the series, divided by the standard deviation of the entire series will give how many standard deviations above the mean its sales are. The answer is a little over 50.

In [39]:
( df.NA_Sales.max() - df.NA_Sales.mean() ) / df.NA_Sales.std()

50.47898767479108

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
## ANSWER: Wii average sales are ~176,000 more than average sales of all other platforms.

In [49]:
wii_average = df.loc[df['Platform'] == 'Wii'].Global_Sales.mean()
not_wii_average = df.loc[df['Platform'] != 'Wii'].Global_Sales.mean()
wii_average - not_wii_average

0.17601413173327207